<form action="/books" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title">

    <label for="description">Genre: </label>
    <input type="text" name="genre" id="genre">

    <label for="rating">Plot: </label>
    <input type="number" name="plot" id="plot">

        <select name="cast" id="">
        {{#each celebList}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <button type="submit">Add a book</button>
</form>